[submodule "hyperscan-src/vectorscan"]
	path = hyperscan-sys/vectorscan
	url = https://github.com/VectorCamp/vectorscan
[submodule "hyperscan-src/hyperscan"]
	path = hyperscan-sys/hyperscan
	url = https://git.sr.ht/~vlaci/hyperscan
